.MarketForm {
    
}

label {
    color: #FFF !important;
}

fieldset {
    border-color: white !important;
    color: white !important;
}

svg {
    color: white !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    background-color: black !important;
}